*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	margin: 0 auto;
	padding-left: 150px;
}

.burger{
	width: 100px;
	height: 120px;
	cursor: pointer;
	background-image:url(../img/menu.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: 0.5s ease;
}
.burger_active{
	background-image:url(../img/error.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
