body {
background:radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(147,152,151,1) 35%, rgba(0,212,255,1) 100%);
}
img {
	display: block;
 	width:350px;
 	margin-left: 150px;
 	border-radius: 10px;
 }
 h1{
 	margin-left: 230px;
 }
 .myinfo_name{
 	padding-top: 15px;
 	margin-left: 300px;
 }
 .myinfo_phone,.myinfo_occupation,.myinfo_birthplace,.myinfo_schedule,.myinfo_age{
 	padding-top: 15px;
 	margin-left: 280px;
 	font-weight: bold;
 }