:root{
	--brand--color: #023875;
	
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	padding:5px;
	
}
.brand__line{
	width: 100%;
	height: 50px;
	background-color: var(--brand--color);
	border-radius: 5px;
}
.top{
	margin-bottom: 15px;
}
.logo{
	width: 100%;
	height: 180px;
	padding-left: 30px;
	margin-top: 5px;
	text-align: center;
}
img{
	display: block;
	width: 100%;
}

.name{
	display: inline-block;
	width: 100%; 
	color: var(--brand--color);
	font-size: 35px;
	text-align: center;
}

p{
	width: 100%;
	color: var(--brand--color);
	text-align: center;
	font-size: 45px;
}
.number{
	color: var(--brand--color);
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.panorama{ 
	width: 100%;
}
.ship__info{
	padding-top: 10px;
}
.about__ship{
	padding-top: 10px;
	color: #000;
	font-family: 'Arial';
	font-size: 13px;
	text-align: left;
	line-height: 1.4em;
}
span{
	margin-left: 15px;
	font-weight: bold;
}

.dropbtn{
	width: 100%;
	height: 50px;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--brand--color);
	line-height: 50px;
	margin-top: 15px;
	border-radius: 5px;
	transition: 2s ease;
}
.menu__box{
	width: 100%;
	position: relative;
	display: inline-block;
	text-align: center;
}
.menu{
	position: absolute;
	display: none;
	background-color: #be75eb;
	margin-left: 50px;
	margin-top: 35px;
	border-radius: 10px;
	box-shadow: -8px 10px 60px 0px rgba(18,151,184,1);

}
.menu a{
	color: var(--brand--color);
	display: block;
	text-decoration: none;
}
.menu a:active{
	cursor:pointer;
	background-color: tomato;
}

.menu__box:active .menu{
	display: block;
	transition: 2s ease;
}
li{
	list-style: none;
	display: block;
	width: 100%;
	height: 35px;
	margin-top: 5px;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	border-bottom: solid 1px #fff; 
}
li:last-child{
	border-bottom: none;
}
.bottom{
	margin-top: 15px;
}
.copyright{
	color: #fff;
	text-align: left;
	padding-left: 10px;
	line-height: 50px;
}
