extends ./layout/main.pug
include ./myinfo.pug
block content
		each item in information
				+ myinfo(
				item.name,
				item.age,
				item.phone,
				item.occupation,
				item.birthplace,
				item.schedule,
				item.avatar
				)

				
