doctype
html
	head
		title= title
	body
		.header
			h1.app-name= message
			.search тут буде пошук
		block content
			.footer
			.menu тут буде меню
		link(rel='stylesheet',href='/style.css')